/*-------- Basic --------*/

* {
    box-sizing: border-box;
}

button {
    background: transparent;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

body {
    min-width: 320px;
}

.main {
    height: 100vh;
    width: 100%;
    position: relative;

    &:before {
        content: "";
        width: 100%;
        height: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        filter: blur(10px) brightness(80%);
    }

    &--home:before {
        background-image: url(../../images/map.png);
    }

    &--treasure:before {
        background-image: url(../../images/treasure.png);
    }
}

.map {
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;

    &--home {
        background-image: url(../../images/map.png);
    }

    &--treasure {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../../images/treasure.png);
    }

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 56%;
    }

    &__chests {
        display: flex;
        width: 90%;
        position: absolute;
    }

    &__chest {
        width: 20%;
        transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &__chest:not(:first-child) {
        margin-left: 30px;
    }

    &__chest:not(&__chest.opened):hover {
        transform: scale(1.05);
    }

    &__chest-wrapper {
        position: relative;
    }

    &__chest-button {
        width: 100%;
        padding: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__chest-button:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 100%;
    }

    &__chest-button--closed {
        background-image: url(../../images/chest-closed.png);
    }

    &__chest-button--opened {
        background-image: url(../../images/chest-opened.png);
    }

    &__chest.closed &__chest-button--opened, &__chest.animation &__chest-button--opened, &__chest.opened &__chest-button--closed {
        display: none;
    }

    &__chest.animation {
        animation-name: opening;
        animation-duration: 0.1s;
        animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
        animation-iteration-count: infinite;
    }

    &__chest.opened {
        animation-name: opened;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    }

    &__chest.fullscreen {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;

        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
    }

    &__chest.fullscreen:nth-child(n) {
        margin: 0;
    }

    &__chest.fullscreen &__chest-wrapper {
        width: 27%;
    }

    &__chest-action {
        display: none;
        padding: 0;
        position: absolute;
        transition: transform 0.2s cubic-bezier(0.23, 1, 0.320, 1);
    }

    &__chest-action:hover {
        transform: scale(1.2);
    }

    &__chest-action-icon {
        width: 100%;
    }

    &__chest-action--bnb {
        width: 12%;
        top: 36%;
        left: 24%;
    }

    &__chest-action--weland {
        top: 37.2%;
        width: 12%;
        right: 46%;
    }

    &__chest.opened &__chest-action {
        display: flex;
    }
}

@keyframes opening {
    0% {
        transform: translateX(-5px) translateY(5px);
    }

    50% {
        transform: translateX(5px) translateY(-5px);
    }

    100% {
        transform: translateX(-5px) translateY(-5px);
    }
}

@keyframes opened {
    0% {
        transform: scale(1.5);
        background: rgba(255, 255, 255, 1);
    }


    100% {
        transform: scale(1);
        background: rgba(0, 0, 0, 0.5);
    }
}

.link {
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transition: transform 0.3s cubic-bezier(0.2, 0, 0.175, 1);
    // z-index: 1;

    &__title {
        position: absolute;
    }

    &:before {
        content: "";
        display: block;
        width: 100%;
    }

    &:hover {
        transform: scale(1.05);
    }
}

.link {
    &--connectWallet {
        width: 12.6%;
        height: auto;
        top: 17%;
        left: 45.5%;

        background-image: url(../../images/titles/connectWallet/connectWalletBg.png);
    }

    &--connectWallet:before {
        padding-top: 26%;
    }

    &--connectWallet &__title {
        width: 60%;

        left: 50%;
        top: 15%;

        transform: translateX(-50%);
    }
}

.link {

    &--buy {
        width: 18%;
        height: auto;
        top: 7%;
        left: 42.5%;

        background-image: url(../../images/titles/connectWallet/connectWalletBg.png);
    }

    &--buy:before {
        padding-top: 30%;
    }

    &--buy &__title {
        width: 57%;
        top: 19%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.link {
    &--main {
        width: 25%;
        top: 2%;
        left: 3%;
        background-image: url(../../images/titles/mainLogo/mainLogoBg.png);
        z-index: 1;
    }

    &--main:before {
        padding-top: 46%;
    }

    &--main &__title {
        top: 20%;
        left: 9%;
        width: 78%;
    }
}

.link {
    &--farm {
        width: 13%;
        top: 3.1%;
        right: 9.8%;
        background-image: url(../../images/titles/farm/farmBg.png);
    }

    &--farm:before {
        padding-top: 28%;
    }

    &--farm &__title {
        top: 11%;
        left: 50%;
        width: 30%;
        transform: translateX(-50%);
    }
}

.link {
    &--dungeon {
        width: 12.9%;
        top: 3.1%;
        left: 5.7%;
        top: 45%;
        background-image: url(../../images/titles/dungeon/dungeonBg.png);
    }

    &--dungeon:before {
        padding-top: 26.5%;
    }

    &--dungeon &__title {
        top: 19%;
        left: 50%;
        width: 63%;
        transform: translateX(-50%);
    }
}

.link {
    &--staking {
        width: 12.7%;
        left: 27.1%;
        top: 33.8%;
        background-image: url(../../images/titles/staking/stakingBg.png);
    }

    &--staking:before {
        padding-top: 28.6%;
    }

    &--staking &__title {
        top: 15%;
        left: 50%;
        width: 37%;
        transform: translateX(-50%);
    }
}

.link {
    &--market {
        width: 12.7%;
        right: 12.5%;
        top: 48.9%;
        background-image: url(../../images/titles/market/marketBg.png);
    }

    &--market:before {
        padding-top: 28.6%;
    }

    &--market &__title {
        top: 15%;
        left: 50%;
        width: 37%;
        transform: translateX(-50%);
    }
}

@supports (-webkit-touch-callout: none) {
    
    .link {

        &--connectWallet {
            width: 18.6%;
            left: 42.5%;
        }

        &--connectWallet &__title {
            width: 50%;
        }
    }

    .link {

        &--market {
            width: 15%;
        }
    
        &--market &__title {
            width: 23%;
        }
    }
}

.link {
    &--portal {
        width: 12.9%;
        left: 21.8%;
        top: 67.7%;
        background-image: url(../../images/titles/portal/portalBg.png);
    }

    &--portal:before {
        padding-top: 38.6%;
    }

    &--portal &__title {
        top: 11%;
        left: 50%;
        width: 44.41%;
        transform: translateX(-50%);
    }
}

.link {
    &--wennieWar {
        width: 12.9%;
        left: 38.95%;
        top: 60.4%;
        background-image: url(../../images/titles/wennieWar/wennieWarBg.png);
    }

    &--wennieWar:before {
        padding-top: 26.1%;
    }

    &--wennieWar &__title {
        top: 18%;
        left: 50%;
        width: 50.6%;
        transform: translateX(-50%);
    }
}

.remove {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    position: relative;
    color: #22272F;

    &:before,
    &:after {
        content: "";
        height: 50%;
        width: 2px;

        position: absolute;

        border-radius: 1px;
        background-color: currentColor;
        transition: color 0.2s ease-out;
    }

    &:before {
        transform: rotateZ(45deg);
    }

    &:after {
        transform: rotateZ(-45deg);
    }

    &:hover {
        color: #474c53;
    }
}

@media (max-width: 1056px) {

    .main {
        display: flex;
        align-items: center;
    }
}